<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Menu</li>

    <li class="active">
        <a href="#"><i class="fa fa-home"></i> <span>Home</span></a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-user"></i> 
            <span>Usuarios</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Users/Index">Usuarios Cadastrados</a></li>
            <li><a href="/Users/Create">Adicionar Novo</a></li>
        </ul>
    </li>
</ul>