<section class="content-header">
    <h1>
        Home
        <!--<small>Optional description</small>-->
    </h1>
    </section>
    <!-- Main content -->
        <section class="content container-fluid">
            <!--------------------------
        | Your Page Content Here |
        -------------------------->
        </section>
